<!-- templates/about.html -->
{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="col-12 m-3">
        <ul class="list-group list-flush">
            <li class="list-group-item">
                <p class="h3 text-md-left font-weight-normal my-3">Requirements</p>
                <p class="m-2">
                    Based on the unraveled factors described in the part 1, the following requirements were set for
                    the development of the web application:
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Accessible
                    </li>
                    <li class="list-group-item">
                        Informative
                    </li>
                    <li class="list-group-item">
                        User friendliness/ Simplicity
                    </li>
                    <li class="list-group-item">
                        Interactivity
                    </li>
                    <li class="list-group-item">
                        Not crowded visual design
                    </li>
                    <li class="list-group-item">
                        Rapidity of addition of new functionality based on subject’s feedback and research outcome
                    </li>
                </ul>
                <p class="m-2">
                    Taking in consideration all of the above requirements, the decision has been made for the
                    creation of a web application characterized by its educational and motivational nature.
                </p>
                <p class="m-2">
                    Web application doesn’t require troublesome technical development and allows researchers to
                    focus on the purpose of the research without being dependent on the extensive technical
                    development in order to proceed. It allows testing of the hypothesis, rapid subject feedback,
                    quick adjustments and it’s ease of distribution.
                </p>
            </li>
            <li class="list-group-item">
                <p class="h3 text-md-left font-weight-normal my-3">Data collection</p>
                <p class="h4 text-md-left font-weight-normal my-3">Questionnaire</p>
                <p class="m-2">
                    The aim of the research was to identify the most effective methodologies to prevent excessive
                    social media use, therefore, it was necessary to collect current, real life raw data, without
                    spoiling it with researcher bias or any other third factors affecting the outcome of the analysis
                    and the results. These data will further need to be correlated with one another and analyzed to
                    provide a conclusion whether one of the was more significant than others or else.
                </p>
                <p class="m-2">
                    For the collection of the data a number of subject were selected which claimed to have an
                    addiction to social media characterized by its excessive use. Important selection requirement
                    was that the subjects had a desire to change this. Long term, the information collected and
                    analyzed would potentially be used for the development of the applications helping the very
                    same people control the functionality of their devices to limit themselves in a more sustainable
                    and controlled manner.
                </p>
                <p class="m-2">
                    For the recruitment of candidates, number of posts were launched in to such networks as:
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Reddit
                    </li>
                    <li class="list-group-item">
                        Facebook
                    </li>
                    <li class="list-group-item">
                        Instagram
                    </li>
                    <li class="list-group-item">
                        Twitter
                    </li>
                </ul>
                <p class="m-2">
                    The recruited candidates were sent a link to research web page registration. Users were
                    instructed to read all the contents and familiarize with the contents. All the questions and
                    misunderstandings were aimed to be resolved in the first couple of days to avoid any
                    derailment further in to the project.
                </p>
            </li>
            <li class="list-group-item">
                <p class="h3 text-md-left font-weight-normal my-3">Social Media Analysis</p>
                <p class="m-2">
                    According to the data analysts such as <a href="https://www.statista.com/">https://www.statista.com/</a> and to the social media
                    platforms themselves, the time users spend online is growing every year and the average is
                    approximately 145 minutes per day according to data up to 2021. The number itself is
                    substantial, but taking in to consideration the fact that the number is growing yearly, it changes
                    the perspective on the scale of the future implications.
                </p>
            </li>
            <li class="list-group-item">
                <p class="h3 text-md-left font-weight-normal my-3">Data analysis</p>
                <p class="h4 text-md-left font-weight-normal my-3">Effectiveness of the web application</p>
                <p class="m-2">
                    The created web application is serving as an informative and analytical resource where
                    subjects can not only get informed about the severity of the excessive use of social media,
                    they can look at different methods and decide for themselves which one they want to test, as
                    well as share their own achievements with the rest of the platform.
                </p>
                <p class="m-2">
                    In the course of research data was collected from 50 different subject, who have shared the
                    details of their social media activity in the timespan of 30 days. Based on the data as well as
                    the direct feedback from the users it was derived that more than 90% of the users, the time
                    that they have spent on the social media has decreased by an average of 50%. Rare cases of
                    about 10% of the users, the time spent on the social media has surprisingly dropped by nearly
                    a 100%. The maximum usage time of the social media has also been decreased by
                    approximately 40%.
                </p>
                <p class="h4 text-md-left font-weight-normal my-3">Effectiveness of the method</p>
                <p class="m-2">
                    The platform wasn’t created specifically for battling social media addiction in subjects, it has
                    rather more informative nature, where a multiple of different approaches are tested to gain an
                    understanding of human reaction to different types of limitations.
                </p>
                <p class="m-2">
                    Based on the assembled data from all three methodologies, which is demonstrated on the
                    attached interactive graph, all three approaches had a positive effect on the users who were
                    determined to battle the excessive use of social media, with app block being the most
                    successful in reducing the time spent, therefore, it is reasonable to say the research was
                    successful, and the definite outcome has been reached.
                </p>
            </li>
            <li class="list-group-item">
                <p class="h3 text-md-left font-weight-normal my-3">Limitations</p>
                <p class="m-2">
                    The assembled data clearly represent a successful research observation of the subjects,
                    fulfilling the aim of the research, however, there are a few limitations to the experiment which
                    can potentially influence long term and current results:
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Lack of data over the longer period of time
                    </li>
                    <li class="list-group-item">
                        Lack of feedback from the subjects after the end of research in regards to their current use of social media
                    </li>
                    <li class="list-group-item">
                        Lack of ability to control the research environment, having the necessity to rely on the integrity
                        of the subjects and sincerity of the results they provide which are absolutely crucial for an
                        accurate analysis of data and an honest conclusion to the research
                    </li>
                    <li class="list-group-item">
                        Small testing group. A larger scope of research would be a better representation of the population
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}