<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="col-12 d-flex justify-content-center">
            <p>Welcome, {{ user.username }}!</p>
        </div>
    {% else %}
        <div class="col-8 mx-auto d-flex justify-content-center">
            <p><b>You are not logged in</b></p>
        </div>
        <div class="col-4 mx-auto d-flex justify-content-center">
            <p>Click here to <a href="{% url 'login' %}">log In</a> first</p>
        </div>
    {% endif %}
{% endblock %}