<!-- templates/methods/description.html -->
<div class="col-12 my-3">
    <div class="card">
        <h5 class="card-header bg-primary text-center text-light">Timer</h5>
        <div class="card-body">
            <p class="card-text my-2">
                This method is based on well-known technic called 
                <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">
                    "Pomodoro"
                </a>.
            </p>
            <p class="card-text my-2">
                The priciple as you can guess is very <u>simple</u>:
            </p>
            <blockquote class="blockquote bg-light">
                <p class="card-text p-2">
                    Everytime you decide to use social media - set up a timer with amount of time you find yourself comfortable
                    to dozen the period of your activity online.
                </p>
            </blockquote>
        </div>
    </div>
</div>
<div class="col-12 my-3">
    <div class="card">
        <h5 class="card-header bg-primary text-center text-light">Disable notifications</h5>
        <div class="card-body">
            <p class="card-text">
                Self-descriptive method.<br>
                The main point is to throw away any distractive signals.
                Depending on your phone or PC operation system the preporation proccess can differ but the key concept is the <u>same</u>:
            </p>
            <blockquote class="blockquote bg-light">
                <p class="card-text p-2">
                    Open your <strong>device settings</strong>, 
                    find <strong>application</strong> which notifications you don't want to recieve
                    and turn them off.
                </p>
            </blockquote>
        </div>
    </div>
</div>
<div class="col-12 my-3">
    <div class="card">
        <h5 class="card-header bg-primary text-center text-light">Deny access to any application</h5>
        <div class="card-body">
            <p class="card-text">
                This method requires more efforts as it is more radical.<br>
                It may be required to install special software 
                or even uninstalling applications you don't want to use, while you are trying to change your habbits. 
            </p>
        </div>
    </div>
</div>