<!-- templates/visualization/user.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Statistic visualization{% endblock %}

{% block content %}
    <div class="col-12 m-3">
        <h4 class="graph-heading text-center">
            Daily network activity along 30 days period based on <strong><u>{{ users }}</u></strong> users data
        </h4>
    </div>
    {% if user_stats %}
    <div class="col-12 m-3">
        {{ user_stats|safe }}
    </div>
    {% endif %}
{% endblock %}